*{
    margin: 0;
    padding: 0;
}
.navigation{
    margin-top: 25px;
    font-family: var(--font1);
    /* height: 74px; */
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-left{
    display: flex;
}
.nav-left span{
    padding-top: 10px;
    font-size: 32px;
}
.nav-left ul{
    display: flex;
    align-items: center;
    margin: 0 77px;
    font-size: 24px;
    padding-bottom: 23px;
}
.nav-left ul li{
    list-style: none;
    margin: 0 14px;
    font-family: var(--font2);
    transition: all 0.3s ease-in-out;
}

.nav-left ul li a{
    text-decoration: none;
    color: black;
    /* transition: all 0.3s ease-in-out; */
}
.nav-left ul li a:hover{
    color: var(--main-bg-color);
    font-weight: bolder;
}

/* .nav-right{

} */
.content{
    height: 100%;
    background-color: rgb(246, 246, 247);
    display: flex;
    margin-top: 32px;
    padding: 9px;
    position: relative;
}
.content::after{
    content: "";
    background-image: url('../img/11.svg');
    position: absolute;
    width: 100%;
    height: inherit;
    opacity: 0.15;
}
.content-left{
    font-family: var(--font1);
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    z-index: 1;
}
.content-right{
    /* width: 50%; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-right img{
    height: 355px;
    border: 2px solid black;
    border-radius: 200px;
}
.home-articles{
    /* height: 455px; */
    background-color: rgb(248, 239, 239,0.5);
    padding: 18px;
    margin-top: 23px;
    position: relative;
}
.year-box{
    position: absolute;
    /* background-color: red; */
    right: 0px;
    top: 100px;
    width: 234px;
    height: 255px;
    font-size: 18px;
}
.year-box div{
    margin: 12px 0px;

}
.home-article{
    display: flex;
    margin: 25px;
}
.home-article img{
    width: 300px;
}
.home-article-content{
    align-self: center;
    padding: 25px;
}
.home-article-content a{
    text-decoration: none;
    color: black;
}
.footer{
    height: 50px;
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    /* bottom: 0; */
}